.tableXO {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.square { 
    border: 0px solid black;
    position: relative;

    width: 90vh;
    height: 90vh;
}

.column {
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%
}
.cell {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.ring {
  margin: auto;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  vertical-align: middle;
  background: orange;
  position: relative;
  }
.ring::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  top: 19%;
  left: 19%;
  border-radius: 50%; 
  background: white;\
  }

.d24 {

    background: green;
    height: 100%; width: 20%;
    position: relative;
    transform: rotate(45deg);
    }
.d24:after {
    content: "";
    height: 100%; width: 100%;
    background: green;
    position: absolute;
    transform: rotate(-90deg)
    }

.cell2 {
  margin: auto;
  vertical-align: middle;
  position: relative;
  }